@import '../shared/mixins';

.modal {
  position: relative;
  box-sizing: border-box;
  border-radius: 2px;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  background: white;
  margin: auto;
  overflow: auto;

  h2, h3, h4 {
    margin: 0;
  }

  h1, h2 {
    padding: .7em 1em;
    border-bottom: 1px solid $gray-2;
  }

  h4 {
    padding: 1.2em 1.2em 0 1.2em;
    border-top: 1px solid $gray-2;
  }

  p {
    margin: 0;
    padding: 1em 1.2em;
  }

  .modalButtons {
    padding: 0 1em 1em;
    display: flex;
  }
}

.button {
  button-aqua()
  text-align: center;
  flex: 1;
  margin: 0 .4em;
  display: inline-block;
}

.cancel {
  color: $font-dark-blue
  background: lightblue;
  margin-right: 1em;
  +respond-above($xs-screen) { margin-right: 0; }
}

.cancel + .confirm {
  +respond-above($xs-screen) { float: right; }
}
