@import '../shared/mixins';

.overlay {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: 2em 1em;
  +respond-above($xs-screen) { padding: 2em; }
}
