@import '../shared/mixins.styl';

body {
  margin: 0;
  padding-bottom: 6em;
}

footer {
  padding: 2em 0;
  height: 7em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $nav-footer;
  text-align: center;

  h4 {
    color: $light-blue;
    margin-top: 0;
    font-weight: 100;
    font-size: 1.2em;
  }

 button, a {
    button()
    display: inline-block;
    text-decoration: none;
    padding: 0 2em;
    color: $font-dark-blue;
    border: 0;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0 .2em;
  }
}

@media only screen and (min-width: 33em) {
}

@media only screen and (min-width: 45em) {
}
