@import '../shared/mixins.styl';

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -11em;
}

#root:after {
  content: "";
  display: block;
}

footer, #root:after {
  height: 9em;
}

footer {
  padding: 2em 0;
  width: 100%;
  background: $nav-footer;
  text-align: center;

  p, a {
    color: #fff;
  }

  button, .button {
    button();
    display: inline-block;
    text-decoration: none;
    padding: 0 2em;
    color: $font-dark-blue;
    border: 0;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0 .2em;
  }
}

@media only screen and (min-width: 33em) {
}

@media only screen and (min-width: 45em) {
}
