canvas {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.canvas-container {
  background: #888;
  position: relative;
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 100%; // the canvas height as a percentage of its width
}
.upper-canvas {
  width: 100% !important;
  height: 100% !important;
}
