@import './App.styl';
@import './shared/mixins.styl';

.hompageContainer {
  border: 1px solid $gray-2;
  background-color: white;
  display: block;
}

.homeSubHeader {
  padding: 0.5em;
  position: relative;
}

.homeIntro {
  text-align: center;

  li {
    margin-bottom: 1em;
  }
}

.homeSubHeader h1:after {
  content: '';
  position: absolute;
  background-color: $aqua;
  widht: 50px;
  height: 10px;
  bottom: 0;

}

section {
  padding: 1.5em;
  background-color: #fcfcfd;

  h2 {
    margin-bottom: .25em;
  }
}

.homepageProgressBar {
/*  padding-bottom: 3em;
  border-bottom: 1px solid $gray-2;
*/
  p {
    font-weight: 400;
  }
}

.homepageButton {
  button-aqua()
  display: block;
  width: 100%;
}

.homeOnboarding {

  h2{
    text-transform: sentence;
    margin-bottom: 2em;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 6rem;
  }

  img {
    max-width: 100%;
  }

}

@media only screen and (min-width: 33em) {

  .homeSubHeader {
    padding: 2em;
  }

  .homepageButton {
    margin: 3em auto 0;
    width: 60%;
  }

  section {
    padding: 2em;
  }
}

@media only screen and (min-width: 45em) {
  
  h1 {
    margin: 0;
  }

  .homeSubHeader {
    padding: 3em;
  }

  section {
    padding: 3em;
  }

  .homeOnboarding {
    ul {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 1em;

      li {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
      }

    }
  }
}

@media only screen and (min-width: 63em) {

  .homeSubHeader {
    padding: 4em;
  }

  section {
    padding: 4em;
  }

}
