@import './shared/mixins.styl';

.progress {
  appearance: none;
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  progress-bar()
}

progress[value]::-webkit-progress-value {
  background-color: $aqua;
}