@import './shared/mixins.styl';

.progressBar {
  margin: 0.5em 0;
}

.prev,
.save {
  button();
}
.prev {
  float: left;
}
.save {
  float: right;
}

.hidden {
  visually-hidden();
}

fieldset {
  rounded()
  background: white;
  border: none;
  margin: .75em;
  padding: 0 0 .25em;
  
  h4 {
    top-rounded()
    text-transform: uppercase;
    font-weight: 700;
    background: #ccc;
    padding: .75em 0;
    margin: 0 0 1em;
    text-align: center
  }
}
