@import './App.styl';
@import './shared/mixins.styl';

.imageContainer {
  position: relative;
  padding: 0.75em 0.75em 3.6em;
  border: 1px solid $gray-2;
  background-color: white;

  .progressBarContainer {
    margin-bottom: .75em;
  }
}

.questionsContainer {
  position: relative;
  margin-top: -52px;

  h4.PerceivedDemographicTitle {
    top-rounded()
    text-transform: uppercase;
    font-weight: 700;
    padding: .75em 0;
    margin: 0 0 1em;
    text-align: center;
    border-bottom: 1px solid $gray-2;
  }
}

@media only screen and (min-width: 45em) { 
  
  .imageContainer, .questionsContainer {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  
  .questionsContainer {
    margin-top: 0;
    
    form {
      margin-top: 0;
    }
  }
}

.reviewAnnotations {
  rounded()
  background-color: white;
  overflow: auto;
  margin-bottom: .75em;
  
  ul {
    list-style: none;
    padding: 0 1em;
    line-height: 2em;
  }
}

fieldset {
  rounded()
  background: white;
  border: 1px solid $gray-2;
  padding: 0 0 .25em;
  margin: 0;
  
  .progressBarContainer {
    padding: 0 1em;
  }
  .demographicLabels span {
    width: 33.33%;
    text-align: center;
    display: inline-block;
  }
}

.prev,
.save {
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 1em;
  font-weight: 600;
}

.prev {
  position: absolute;
  background-color: $dark-blue;
  color: $font-dark-blue;
  border-top-left-radius: 3px;
  margin: 0;
  height: 40px;
  padding: 0 1em;
}

.save {
  rounded()
  line-height: 2.5em;
  background-color: $aqua;
  color: white;
  width: 100%;
}

.hidden {
  visually-hidden();
}
