@import './shared/mixins.styl';

.wrapper {
  margin: auto;
  background-color: $light-blue;
  overflow: auto;
}

.mainContainer {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.imageContainer {
  position: relative;

  .progressBarContainer {
    rounded()
    background: white;
    position: absolute;
    z-index: 1;
    margin-top: .75em;
    right: .75em;
    left: .75em;
    padding: .25em .5em;
  }
}

.questionsContainer {
  position: relative;
  margin-top: -51px;

  h4 {
    top-rounded()
    text-transform: uppercase;
    font-weight: 700;
    background: $light-blue;
    padding: .75em 0;
    margin: 0 0 1em;
    text-align: center
  }
}

@media only screen and (min-width: 45em) { 
  
  .mainContainer {
    max-width: 1000px;
    margin: 5em auto;
    padding: 0 .75em;
  }
  
  .imageContainer, .questionsContainer {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  
  .questionsContainer {
    margin-top: 0;
    
    form {
      margin-top: 0;
    }
  }
  
  .questionsContainer h4 {
    background: $medium-blue;
  }
}

.reviewAnnotations {
  rounded()
  background-color: white;
  overflow: auto;
  margin-bottom: .75em;
  
  ul {
    list-style: none;
    padding: 0 1em;
    line-height: 2em;
  }
}

fieldset {
  rounded()
  background: white;
  border: none;
  padding: 0 0 .25em;
  margin: 0;
  
  .progressBarContainer {
    padding: 0 1em;
  }
  .demographicLabels span {
    width: 33.33%;
    text-align: center;
    display: inline-block;
  }
}

.prev,
.save {
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 1em;
  font-weight: 600;
}

.prev {
  position: absolute;
  background-color: $dark-blue;
  color: $font-dark-blue;
  border-top-left-radius: 3px;
  margin: 0;
  height: 40px;
  padding: 0 1em;
}

.save {
  rounded()
  line-height: 2.5em;
  background-color: $aqua;
  color: white;
  width: 100%;
}

.hidden {
  visually-hidden();
}
