visually-hidden() {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

button() {
  text-align: center;
  line-height: 3em;
  font-weight: 600;
  text-transform: capitalize;
  background-color: $light-blue;
  border-radius: 2px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
    background-color: $medium-blue;
  }
}

button-aqua() {
  button()
  text-decoration: none;
  background-color: $aqua;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  border: none;
  font-size: 1em;
  padding: 0 2em;
  margin-top: 1em;

  &:hover,
  &:focus {
    background-color: $aqua-dark;
  }
}

progress-bar() {
  very-rounded();
  overflow: hidden;
  width: 100%;
  background: #D3E1E8;
  display: inline-block;
  box-shadow: inset 0px 0px 1px $dark-blue;
}

rounded() {
  border-radius: 3px;
}

very-rounded() {
  border-radius: 5px;
}

top-rounded() {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

// Colors
// ==============================================

$light-blue = #d5e1e8
$medium-blue = #c1d2dc
$dark-blue = #abbdc7
$aqua = #00AF9B
$aqua-dark = #019e8c

$font-dark-blue = #3f4b61

$nav-footer = #1E2532
$subheader = #3f4b5d

$gray-1 = #f0f0f1
$gray-2 = #e0e0e0
$dark-gray = #333333


// Responsive Mixins
// ==============================================

// Larger than small-mobile
$xs-screen = 400px;
// Larger than phablet
$sm-screen = 550px;
// Larger than average tablet
$md-screen = 750px;
// Larger than windowed browser on desktop
$lg-screen = 1030px;
// Larger than desktop HD
$xl-screen = 1200px;

respond-below($width) {
  media = 'all and (max-width: %s)' % $width;
  @media media {
    {block}
  }
}

respond-above($width) {
  media = 'all and (min-width: %s)' % $width;
  @media media {
    {block}
  }
}

respond-between($min-width, $max-width) {
  $max-width = $max-width - 1;
  media = 'all and (min-width: %s) and (max-width: %s)' % ($min-width $max-width);
  @media media {
    {block}
  }
}
