visually-hidden() {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

button() {
  display: inline-block;
  height: 3em;
  padding: 0 20px;
  color: #333;
  font-size: 0.8em;
  text-align: center;
  line-height: 3em;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: black;
    border-color: #666;
    outline: 0;
  }
}
