@import '../shared/mixins.styl';

.uxFeedback {
  text-align: center;
  margin: 0;
  padding: 1em;
  background: $subheader;
  color: $light-blue;
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media only screen and (min-width: 33em) { 
  .uxFeedback {
    font-size: 1.3em;
    padding: 1.5em;
  }
}
