#!/bin/bash

{% for param in env_vars %}{{param}}={{env_vars[param]}} {% endfor %}pg_dump -Fc -O {{env_vars.PGNAME}} | aws s3 cp - s3://{{backup_bucket}}/current
aws s3 cp s3://{{backup_bucket}}/current s3://{{backup_bucket}}/$(date +'%Y%m%d%H%M%S')
