upstream api {
  server localhost:{{env_vars[env].HTTP_PORT}};
}

server {
  listen 80;
  server_name {{fqdn}};
  root {{public_path}};
  index index.html;
  location / {
    try_files $uri /index.html;
{% if basic_auth %}
    auth_basic 'Image Annotator';
    auth_basic_user_file htpasswd;
{% endif %}
  }
  location /api {
    include proxy_params;
    proxy_pass http://api;
  }
  location ~* \.(css|js) {
    expires max;
    break;
  }
  gzip on;
  gzip_vary on;
  gzip_disable "MSIE [1-6]\.";
  gzip_comp_level 6;
  gzip_min_length 1100;
  gzip_buffers 16 8k;
  gzip_proxied any;
  gzip_proxied expired no-cache no-store private auth;
  gzip_types
      text/plain
      text/css
      text/js
      text/xml
      text/javascript
      application/javascript
      application/x-javascript
      application/json
      application/xml
      application/rss+xml
      image/svg+xml;
}

{% if env != 'development' %}
server {
  listen 80 default_server;
  server_name _;
  return 301 http://{{fqdn}}$request_uri;
}
{% endif %}
