@import '../shared/mixins.styl';

.label {
  visually-hidden();
}

.barContainer {
  very-rounded();
  overflow: hidden;
  width: 100%;
  background: #D3E1E8;
  display: inline-block;
  box-shadow: inset 0px 0px 1px $dark-blue;
}

.bar {
  height: 10px;
  background: $aqua;
}

.inProgress {
  transition: width 200ms;
}
