@import '../shared/mixins.styl';

.nav {
  max-width: 500px;
  margin: auto;
  background: url('./ajllogo_wetnmg.png') no-repeat;
  background-position: center center;
  background-size: 0px;
}

.nav a {
  display: inline-block;
  padding: 1.2em;
  text-decoration: none;
  color: $light-blue;
  width: 33%;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: .9em;
  text-align: center;
}

.nav img {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -10px;
}

.header, footer {
  width: 100%;
  background: $nav-footer;
  text-align: center;
}

@media only screen and (min-width: 33em) {
  .nav {
    text-align: left;
    background-position: 10px 5px;
    background-size: 40px;
    padding-left: 4em;
  }

  .nav a {
    width: inherit;
    padding: 2em 1em;
  }

}

@media only screen and (min-width: 45em) {
  .nav {
    max-width: 1080px;
    padding: 0 3em 0 4em;
  }
}
