@import '../shared/mixins.styl';

.nav {
  max-width: 1000px;
  margin: auto;
}

.nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: $font-dark-blue;
  width: 50%;
  font-weight: 600;
}

.nav a:hover {
  background: $light-blue;
}

.header, footer {
  width: 100%;
  background: white;
  text-align: center;
}

@media only screen and (min-width: 45em) {  
  .nav {
    text-align: left;
  }
  
  .nav a {
    width: inherit;
  }
}
